body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}

.conteiner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  outline: 2px solid red;
}

.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.logo-link span {
  color: #2e2f42;
}
.navigation .navigation-item {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.32px;
}
.navigation .navigation-item:hover {
  color: #404bbf;
}
.navigation .navigation-item:focus {
  color: #404bbf;
}

.contact .contact-item {
  color: #434455;
  letter-spacing: 0.32px;
}
.contact .contact-item:hover {
  color: #404bbf;
}
.contact .contact-item:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}

.main-title {
  color: #fff;
  background-color: #2e2f42;
  line-height: 1.07;
}
.main-title .title {
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 1.12px;
  padding: 188px 472px 292px 472px;
}
.main-title .btn {
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.main-title .btn:hover {
  background-color: #404bbf;
}
.main-title .btn:focus {
  background-color: #404bbf;
}

.information-about-company {
  padding-top: 120px;
  padding-bottom: 120px;
}
.information-about-company .information-section h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.information-about-company .information-section p {
  letter-spacing: 0.32px;
}
.information-section-title {
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
}
.team .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-information .name {
  color: #2e2f42;
  background-color: #fff;
}
.team-information .name h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.team-information .name-text {
  color: #434455;
  font-weight: 400;
  letter-spacing: 0.32px;
  font-size: 16px;
}

.portfolio {
  padding-top: 120px;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-information .portfolio-item h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.portfolio-information .portfolio-item p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.footer-site {
  padding-top: 101.5px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.54px;
}
.logo-link-footer span {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  letter-spacing: 0.32px;
  margin-top: 16px;
}
