body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #e7e9fc;
}
.heder-container {
  display: flex;
}
.main-nav {
  display: flex;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.54px;
  padding: 25.5px 0 25.5px 156px;
}
.logo-link span {
  color: #2e2f42;
}
.navigation {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 76px;
  margin-right: 332px;
  gap: 40px;
}
.navigation-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.32px;
}
.navigation-link:hover {
  color: #404bbf;
}
.navigation-link:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}
.contact-info {
  display: flex;
  margin: 24px 0;
}
.contact .contact-link {
  color: #434455;
  letter-spacing: 0.32px;
}
.contact .contact-link:hover {
  color: #404bbf;
}
.contact .contact-link:focus {
  color: #404bbf;
}
.contact-item:not(:last-child) {
  margin-right: 40px;
}

.title-container {
  padding: 188px 472px 188px 472px;
  background-color: #2e2f42;
}
.main-title {
  line-height: 1.07;
}
.title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 1.12px;
}
.btn {
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: 164px;
  margin-top: 48px;
  border: none;
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}

.information {
  display: flex;
  padding: 120px 156px;
  gap: 24px;
}
.information-section {
  width: calc((100% - 24px * 3) / 4);
}
.information-about-company-title {
  display: none;
}
.information-section-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.information-section-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.team {
  background-color: #f4f4fd;
}
.team-information {
  display: flex;
  padding: 72px 156px 120px 156px;
  gap: 24px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
}
.name {
  color: #2e2f42;
  background-color: #fff;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 500;
  width: calc((100% - 24px * 3) / 4);
}
.name-title {
  padding-top: 32px;
  text-align: center;
}
.name-text {
  color: #434455;
  font-weight: 400;
  letter-spacing: 0.32px;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 32px;
  text-align: center;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
}
.portfolio-information {
  display: flex;
  flex-wrap: wrap;
  padding: 72px 156px 120px 156px;
  gap: 48px 24px;
}
.portfolio-item {
  border: 1px solid #e7e9fc;
  width: calc((100% - 24px * 2) / 3);
}
.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-top: 32px;
  padding-left: 16px;
}
.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  padding-top: 8px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.footer-container {
  padding: 101.5px 1020px 100px 156px;
  background-color: #2e2f42;
}
.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.54px;
}
.logo-link-footer span {
  color: #f4f4fd;
}
.footer-text {
  padding-top: 16px;
  max-width: 264px;
  color: #f4f4fd;
  letter-spacing: 0.32px;
}
